@charset "utf-8";

body, html {margin: 0; padding: 0; font-family: Helvetica; font-size: 13px; }

.header {
	background: #bada55;
	padding: 15px;
}
.header h1 { font-family: Helvetica; color: white; font-size: 24px; }

.footer {
	background: #f06d06;
	padding: 15px;
	color: white;
	font-family: Helvetica;
}

.content {
	background: white;
	padding: 15px;
}
h2 { color: #424242; font-family: Helvetica; font-size: 16px; }

.paging { text-align: center; padding: 20px; }

.paging ol { list-style: none; margin: 0; padding: 0;}
.paging li { padding: 0; margin: 0; display: inline-block; width: 32px; height: 32px; }
.paging li a { background: #eee; color: #999; padding: 10px; text-decoration: none;}
.paging li a.active,
.paging li a:hover { background: #bada55; color: white;}